pool:
  vmImage: ubuntu-latest

trigger:
  branches:
    include:
      - master

parameters:
- name: package
  type: string
  displayName: 'Select package to publish'
  default: 'usf-par'
  values:
  - usf-http
  - usf-par
  - usf-redis
  - usf-middleware
  - usf-mssql
  - usf-mysql
  - usf-oracle
  - usf-common
  - usf-cron

variables: 
  NODE_VERSION: '24.x'
steps:
- checkout: self

- task: NodeTool@0
  inputs:
    versionSpec: ${{ variables.NODE_VERSION }}
  displayName: 'Install Node.js'

- task: npmAuthenticate@0
  inputs:
    workingFile: $(System.DefaultWorkingDirectory)/${{ parameters.package }}/.npmrc
  displayName: 'Authenticate with npm registry'

- script: |
    cd $(System.DefaultWorkingDirectory)/${{ parameters.package }}
    npm install
  displayName: 'Install dependencies'

- script: |
    set -e
    cd $(System.DefaultWorkingDirectory)/${{ parameters.package }}

    LOCAL_VERSION=$(npm pkg get version | tr -d '"')
    echo "Local version: $LOCAL_VERSION"

    ADO_VERSION=$(npm view ${{ parameters.package }} version || echo "0.0.0")
    echo "Version in npm registry: $ADO_VERSION"

    if [ "$ADO_VERSION" = "0.0.0" ] || [ "$(printf '%s\n' "$LOCAL_VERSION" "$ADO_VERSION" | sort -V | tail -n1)" = "$LOCAL_VERSION" ] && [ "$LOCAL_VERSION" != "$ADO_VERSION" ]; then
      echo "##vso[task.setvariable variable=ShouldPublish]true"
      if [ "$ADO_VERSION" = "0.0.0" ]; then
        echo "Publish required ${{ parameters.package }} because it doesn't exist in the registry (ADO version is 0.0.0)"
      else
        echo "Publish required ${{ parameters.package }} because local version ($LOCAL_VERSION) is newer than ADO ($ADO_VERSION)"
      fi
    else
      echo "##vso[task.setvariable variable=ShouldPublish]false"
      echo "Skipping publish: local version ($LOCAL_VERSION) is not greater than ADO ($ADO_VERSION)"
    fi
  displayName: 'Check if package should be published'

- script: |
    cd $(System.DefaultWorkingDirectory)/${{ parameters.package }}
    npm publish
  displayName: 'Publish package'
  condition: eq(variables['ShouldPublish'], 'true')
